@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.windows {
  padding: 0;
  height: 30rem;
  position: relative;
  overflow: hidden ;
  margin-bottom:0;
  margin-top: $navHeight + 3.5rem;

  h1 {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    margin: 0;
    width:fit-content;
    text-align: center;
    user-select: none;
  }

  li {
    position: absolute;
    border-radius: 2px;
    background: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding:0;
    filter: brightness(0.7);
    background-size: cover;
    
    &:nth-of-type(1){
      background-image: url('../../assets/img/grey4-min.jpg');
    }
    &:nth-of-type(2){
      background-image: url('../../assets/img/grey-h-min.jpg');
      background-position: center;
    }
    &:nth-of-type(3){
      background-image: url('../../assets/img/grey5-min.jpg');
    }
    &:nth-of-type(4){
      background-image: url('../../assets/img/grey3-min.jpg');
    }
    &:nth-of-type(5){
      background-image: url('../../assets/img/grey6-min.jpg');
      background-position: center;
    }
  }
}

@media (max-width: 600px){
  .windows {
    margin-top: $navHeight + 2rem;
    height: 25rem;
    
    h1{
      font-size: 1.15rem;
      padding: 0 1rem;
      top: 50%;
    }
  }
}
